.treeImg {
  width: 360px;
  /* width: 90%;
  height: 60%; */
  place-items: center;
  display: block;
  margin: auto;
}

.badge-container {
  /* background-image: url('../../src/assets/images/tree.png'); */
  background-color: #ece7db;
  width: 100%;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  /* height: 100%; */
  /* display: flex; */
  /* place-items: center; */
  margin: 0 auto;
}

.badge-save-container {
  padding: 20px 20px;

  h2 {
    color: #000;
    font-family: KBFG Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h4 {
    color: #333;
    font-family: KBFG Display;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.badge-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 105px;
}

.badge-common {
  /* border: solid 1px #000; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 auto;
  vertical-align: baseline;
  img {
    width: 55px;
    opacity: 0.2;
    cursor: pointer;
  }

  p {
    color: #595858;
    font-family: KBFG Display;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
  }
}
.badge1 {
  img {
    /* opacity: 0.2; */
    width: 50px;
  }
}
.badge2 {
  img {
    width: 40px;
  }
}
.badge3 {
  img {
    width: 55px;
  }
}

.badge4 {
  img {
    width: 70px;
  }
}
.badge5 {
  img {
    width: 45px;
  }
}

.badge6 {
  img {
    width: 65px;
  }
}
.badge7 {
  img {
    width: 65px;
  }
}
.badge8 {
  img {
    width: 65px;
  }
}

.location1 {
  position: relative;
  top: -110px;
  left: -250px;
  /* top: 125px;
  left: 143px; */

  display: inline-block;
}

.location2 {
  position: fixed;
  top: -110px;
  left: -123px;
}

.location3 {
  position: fixed;
  top: 225px;
  left: 103px;
}
.location4 {
  position: fixed;
  top: 255px;
  left: 213px;
}

.location5 {
  position: fixed;
  top: 325px;
  left: 123px;
}

.location6 {
  position: fixed;
  top: 335px;
  left: 263px;
}

.location7 {
  position: fixed;
  top: 385px;
  left: 33px;
}
.location8 {
  position: fixed;
  top: 405px;
  left: 193px;
}
