html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.paddingBox {
  padding: 0px 15px;
}

@font-face {
  font-family: 'KBTitleB';
  font-weight: bold;
  src: url('../assets/fonts/KBFGDisplayB.ttf') format('truetype');
}

@font-face {
  font-family: 'KBTitleM';
  font-weight: normal;
  src: url('../assets/fonts/KBFGDisplayM.ttf') format('truetype');
}

@font-face {
  font-family: 'KBTitleL';
  font-weight: 100;
  src: url('../assets/fonts/KBFGDisplayL.ttf') format('truetype');
}

@font-face {
  font-family: 'KBTextB';
  font-weight: 100;
  src: url('../assets/fonts/KBFGTextB.ttf') format('truetype');
}

@font-face {
  font-family: 'KBTextM';
  font-weight: 100;
  src: url('../assets/fonts/KBFGTextM.ttf') format('truetype');
}

@font-face {
  font-family: 'KBTextL';
  font-weight: 100;
  src: url('../assets/fonts/KBFGTextL.ttf') format('truetype');
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
}

:root {
  --kb-yellow: #ffcc00;
  --kb-gray: rgba(96, 88, 76, 1);
  --kb-dark-gray: rgba(84, 80, 69, 1);
  --card-gray: #D9D9D9;
  /* figma - 가계부선택에 있는 밝은 회색 글씨 */
  --font-light-gray: #B3B3B3;
  /* figma - 약관동의 1 아래 버튼, 글씨 */
  --box-not-gray: #DDE1E4;
  --font-not-gray: #AAB0B8;
}