.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(844px - 47px);
    z-index: 9999;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-color: #d7d7d7;
    opacity: 0.4;
}