.NewFNLGThemeTitle {
  font-family: 'KBTitleB';
  /* font-style: normal; */
  /* font-weight: 900; */
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  flex-direction: column;
  padding-top: 100px;
}

.NewFNLGThemeText {
  font-family: 'KBTextB';
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  flex-direction: column;
}

.NewFNLGBudgetTitle {
  font-family: 'KBTextB';
  /* font-style: normal; */
  /* font-weight: 900; */
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 100px;
}

.NewFNLGBudgetText {
  font-family: 'KBTextM';
  font-size: 18px;
  display: flex;
  /* align-items: center; */
  color: #000000;
  flex-direction: column;
  padding-bottom: 100px;
}

.EditButton {
  font-family: 'KBTextM';
  margin: 0 0 10px 10px;
  display: flex;
  background-color: #ebebeb;
  color: #b3b3b3;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
  
}

.NewFNLGBudgetTop {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.NewFNLGGoalTitle {
  font-family: 'KBTitleB';
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  flex-direction: column;
  padding-top:100px;
}

.NewFNLGGoalTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.NewFNLGGoalText {
  font-family: 'KBTitleB';
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #616161;
  flex-direction: column;
}

.customGoalInput {
  font-family: 'KBTitleM';
  font-size: 20px;
  width: 304px;
  height: 59px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.NewFNLGThemeSelect {
  appearance: none;
  background: none;
  font-family: 'KBTitleM';
  font-size: 24px;
  width: 304px;
  height: 59px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewFNLGThemeDiv {
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 방향 중앙 정렬 */
  position: relative;
  height: calc(100% - 49px);
  gap: 30px;
}

.NewFNLGGoalDiv {
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 방향 중앙 정렬 */
  position: relative;
  height: calc(100% - 49px);
  gap: 30px;
}

.EditBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customBudgetInput {
  font-family: 'KBTitleM';
  font-size: 20px;
  width: 192px;
  height: 39px;
  border: none; /* 모든 테두리 제거 */
  border-bottom: 1px solid black; /* 아래쪽 테두리만 검정색 1px로 설정 */
  /* border-radius: 20px; */
  padding: 10px;
  display: flex;
  align-items: center;
}

.FNLG-downIcon {
  cursor: pointer;
}