.record-info {
  color: #616161;
  font-family: KBFG Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.defaultCatBox {
  overflow-x: scroll;
  width: 240px;
  display: flex;
  align-items: center;
}

.catBox {
  display: flex;
  justify-content: space-between;
}

.cat1 {
  background: #fdc453;
  border: none;
}
.cat2 {
  background: #f886a8;
  border: none;
}
.cat3 {
  background: #fe8d6f;
  border: none;
}
.cat4 {
  background: #a0dde0;
  border: none;
}
.cat5 {
  background: #dfdd6c;
  border: none;
}
.cat6 {
  background: #9adbc5;
  border: none;
}

.my-btn {
  position: relative;
  display: inline-block;
}
.my-btn .bi-check {
  position: absolute;
  top: -14px;
  right: -2px;
  color: red;
  font-weight: 900;
  font-size: 25px;
}

.vertical {
  display: flex;
  height: 100%;
  width: 100%;
}
.vertical-line {
  background: #fc0;
  width: 2px;
  /* height: 100%; */
  margin: 10px 0 10px 0;
}
.vertical-body {
  margin-left: 20px;
}

.vertical-dot {
  height: 8px;
  width: 8px;
  position: relative !important;
  background-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  left: -25px;
  z-index: 0;
}

.body-cat {
  align-items: center;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  margin: 7px 0 30px 0;
  z-index: auto;
  display: flex;
}

.body-content {
  align-items: center;
  justify-content: center;
  margin: 12px 0 30px 0;
}

.body-price {
  align-items: center;
  justify-content: center;
  margin: 12px 0 30px 0;
  line-height: 10px;
}

.body-receipt {
  margin: 12px 0 30px 0;
}

.body-time {
  margin: 12px 0 30px 0;
}

.cat-plus {
  border: dotted 1px #000;
  border-radius: 3px;
  width: 35.649px;
  /* height: 15px; */
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  margin-right: 7px;
  padding: 0 10px;
}

.cat-btn {
  border-radius: 3px;
  /* width: 35.649px; */
  /* height: 15px; */
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  margin-right: 7px;
  border: none;
  padding: 0 10px;
}

.receipt-img {
  width: 80px;
  height: 120px;
}

.del-btn {
  border-radius: 30px;
  background: #d9d9d9;
  width: 103.594px;
  height: 39.05px;
  flex-shrink: 0;
  border: none;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-btn {
  border-radius: 30px;
  background: #fc0;
  width: 103.594px;
  height: 39.05px;
  flex-shrink: 0;
  border: none;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  background-color: #f1f1f1;
  border: none;
  border-radius: 15px;
  padding: 0 0 0 10px;
  width: 280px;
  height: 30px;
  font-family: KBTextB;
  font-size: 16px;
}

.ShowFileImage {
  width: 80px;
  /* height: 120px; */
}
