.receipt {
  /* width: 14px; */
  height: 16px;
  align-items: center;
}
.more-record-btn {
  color: #828181;
  text-align: right;
  font-family: KBFG Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
  /* display: flex; */
  /* width: 80px;
    height: 32px; */
  /* margin: auto; */
  align-items: flex-end;

  justify-content: center;
  span {
    cursor: pointer;
  }
}
.plus {
  cursor: point;
}
.record-container {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.record-info-area {
  display: flex;
  justify-content: space-between;
}
.record-info {
  color: #616161;
  font-family: KBFG Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record-cat {
  border-radius: 3px;
  background: #fdc453;
  padding: 0px 6px;
  height: 15px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.record-title-area {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record-title {
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record-title-name {
  margin-right: 10px;
}

.line {
  margin: 10px 0 10px 0;
  height: 1px;
  width: 100%;
  background: black;
}

.today {
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.more-btn {
  color: #828181;
  text-align: center;
  font-family: KBFG Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 32px;
  margin: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}
