.receipt {
  /* width: 14px; */
  height: 16px;
  align-items: center;
}
.more-record-btn {
  color: #828181;
  text-align: right;
  font-family: KBFG Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
  /* display: flex; */
  /* width: 80px;
    height: 32px; */
  /* margin: auto; */
  align-items: flex-end;

  justify-content: center;
  span {
    cursor: pointer;
  }
}
.plus {
  cursor: point;
}
.record-container {
  padding: 0px;
  width: 100%;
  /* padding-left: 19px;
  padding-right: 19px;
  padding-top: 5px;
  padding-bottom: 5px; */
}

.accordion-button {
  background-color: white !important;
  border-color: white !important;
  /* box-shadow: none !important; */
}

.accordion-button::after {
  background-image: none !important;
  width: 0px !important;
  height: 0px !important;
}
.record-info-area {
  display: flex;
  justify-content: space-between;
}
.record-info {
  color: #616161;
  font-family: KBFG Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record-cat {
  border-radius: 3px;

  width: 35.649px;
  height: 15px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cat1 {
  background: #fdc453;
}
.cat2 {
  background: #f886a8;
}
.cat3 {
  background: #fe8d6f;
}
.cat4 {
  background: #a0dde0;
}
.cat5 {
  background: #dfdd6c;
}
.cat6 {
  background: #9adbc5;
}

.record-title-area {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record-title {
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record-title-name {
  margin-right: 10px;
}

.line {
  margin: 10px 0 10px 0;
  height: 1px;
  width: 100%;
  background: black;
}

.today {
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.more-btn {
  color: #828181;
  text-align: center;
  font-family: KBFG Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 32px;
  margin: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.vertical {
  display: flex;
  height: 100%;
  width: 100%;
}
.vertical-line {
  background: #fc0;
  width: 2px;
  /* height: 100%; */
  margin: 10px 0 10px 0;
}
.vertical-body {
  margin-left: 20px;
}

.vertical-dot {
  height: 8px;
  width: 8px;
  position: relative !important;
  background-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  left: -25px;
}

.body-cat {
  align-items: center;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  margin: 7px 0 30px 0;
  z-index: 1;
  display: flex;
}

.body-content {
  align-items: center;
  justify-content: center;
  margin: 12px 0 30px 0;
}

.body-price {
  align-items: center;
  justify-content: center;
  margin: 12px 0 30px 0;
  line-height: 10px;
}

.body-receipt {
  margin: 12px 0 30px 0;
}

.body-time {
  margin: 12px 0 30px 0;
}

.cat-plus {
  border: dotted 1px #000;
}

.cat-btn {
  border-radius: 3px;
  width: 35.649px;
  height: 15px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 7px;
}
.record-title-name {
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.record-price {
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.receipt-img {
  width: 80px;
  height: 120px;
}

.del-btn {
  border-radius: 30px;
  background: #d9d9d9;
  width: 103.594px;
  height: 39.05px;
  flex-shrink: 0;
  border: none;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-btn {
  border-radius: 30px;
  background: #fc0;
  width: 103.594px;
  height: 39.05px;
  flex-shrink: 0;
  border: none;
  color: #000;
  text-align: center;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
