.body_relative{
    position: relative;
    height: calc(100% - 49px);
}

.flex {
    display: flex;
    flex-direction: column;
}

.btn_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0px;
}

.img_wrapper {
    appearance: none;
    border: none;
    background: none;
}

.contents_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'KBTextL';
}

.contents_wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'KBTextL';
    height: -webkit-fill-available;
}

.img_pad {
    padding-bottom: 150px;
}

.records_wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.records_wrapper > div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.records_wrapper > div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.inactive_text {
    color : var(--font-not-gray);
}

.inactive_bg {
    background-color: var(--font-not-gray);
}

.record_container {
    width: 100%;
    border : 1px solid #e0e0e0;
    padding: 15px 10px;
    
}

.record_info_area {
    display: flex;
    justify-content: space-between;
}

.record_info {
    color: #616161;
    font-family: KBFG Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.record_info_inactive {
    color: #d6d6d6;
    font-family: KBFG Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.record_cat {
    border-radius: 3px;
    width: 35.649px;
    height: 15px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: KBFG Text;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cat1 {
background: #fdc453;
}
.cat2 {
  background: #d6d6d6;
}
.cat3 {
  background: #fe8d6f;
}

.record_title_area {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.record_title {
  color: #000;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.record_title_inactive{
  color: #d6d6d6;
  font-family: KBFG Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.record_title_name {
    margin-right: 10px;
}
.record_price {
    color: #000;
    font-family: KBFG Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.record_price_inactive {
    color: #d6d6d6;
    font-family: KBFG Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}